.login-container {
  width: 320px;
  margin: 80px auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 8px #ccc;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #125aa3;
}

/* Register Section */
.register-link {
  margin-top: 15px;
}

.register-btn {
  background-color: green;
}

.register-btn:hover {
  background-color: darkgreen;
}

.error {
  color: red;
  margin-top: 10px;
}